<form action="/boats" method="get" class="form-inline text-center">
  <label class="sr-only" for="inlineFormInput">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Saint Tropez" name="city">

  <button type="submit" class="btn btn-primary">Souquer les artibuses!</button>
</form>
