<p>MOUSSAILLON</p>
<p>Louez votre bateau</p>
<p>& larguez les amarres</p>
<form action="/boats" method="get" class="form-inline text-center padded">
  <div class="form-group">
    <label class="sr-only" for="inlineFormInput">City</label>
    <input type="text" class="form-control" id="inlineFormInput" placeholder="Saint Tropez" name="city">
  </div>

  <div class="form-group">
    <label for="checkin" class="sr-only">Checkin</label>
    <input class="form-control" type="date" value="<%= Date.today %>" id="checkin" name="date_check_in">
  </div>

  <div class="form-group">
    <label for="checkout" class="sr-only">Checkout</label>
    <input class="form-control" type="date" value="<%= Date.today + 7 %>" id="checkout" name="date_check_out">
  </div>


    <button type="submit" class="btn btn-default">A l'abordage !</button>

</form>


<p>A voile</p>


<p>A moteur</p>
