/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded-lg {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-md {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padded-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padded-sides {
  padding-left: 100px;
  padding-right: 100px;
}
.padded-sides-sm {
  padding-left: 40px;
  padding-right: 40px;
}
.padded-sides-sl {
  padding-left: 20px;
  padding-right: 20px;
}

.padded-top {
  padding-top: 20px;
}
.padded-bottom-sm {
  padding-bottom: 10px;
}

.padded-top-neg {
  top: -30px;
}
.padded-left {
  padding-left: 20px;
}
.padded-ri {
 padding-right: 120px;
}
.margin-top {
  margin-top: 5px;
}
// Police Text
.upcase {
  text-transform: uppercase;
}

.txt-sm {
  font-size: 12px;
}
.txt-description {
  font-size: 16px;
}

.txt-md {
  font-size: 20px;
}
.txt-mmd {
  font-size: 30px;
}
.txt-lg {
  font-size: 46px;
}
.txt-light {
  font-weight: 300;
}
.txt-regular {
  font-weight: 400;
}
.txt-bold {
  font-weight: 600;
}
.txt-heavy {
  font-weight: 800;
}
.txt-blue {
  color: $blue;
}
.txt-white {
  color: white;
}
.txt-yellow {
  color: $yellow;
}
.txt-height-sm {
  line-height: 1;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border-top: 1px solid #aeaeae;
}

// margins
.margin-top {
  margin-top: 45px;
}

.margin-btn {
  margin-top: 40px;
  margin-bottom: 60px;
}

.margin-bottom-md {
  margin-bottom: 50px;
}


