// Cards pour les reviews
.card-white {
  background-color: white;
  padding: 15px 25px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-white-fix {
  background-color: white;
  padding: 15px 25px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  // height: 150px;
}
.card-white-edit {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.card-white-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}
Card de Boats Show
.card-show {
  background-size: cover !important;
  height: 400px;
  position: relative;
}
.card-show-title {
  position: absolute;
  top: 20px;
  left: 30px;
}
.card-show-description {
  position: absolute;
  top: 90px;
  left: 30px;
}

// Cart de Boats Index
.card-index {
  background-size: cover !important;
  height: 400px;
  position: relative;
}
.card-index-title {
  position: absolute;
  top: 15px;
  left: 20px;
}
.card-index-user {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card-index-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-bottom: 0px;
}
