.card-show {
  background-size: cover !important;
  height: 200px;
  position: relative;
}
.card-show-title {

}
.card-show-description {

}
.card-show-price {

}


.card-index {

}
.card-index-title {

}
.card-index-description {

}
.card-index-price {

}
