.padded  {
  padding-top: 1em;
}

.background-form {
  display:flex;
  flex-direction: column;
  padding:30px;
  margin: 0 auto;
  width:100%;
  height:auto;
  font-size:em(14px);
  border-radius: 1px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.4);
  color: #4e4e4e;
}

.banner-form {
  background: url("form-img") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  height: 170vh;
  padding: 50px 15px;
}
