<div class="row">
  <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-4 padded">
      <%= link_to boat_path(boat) do %>
        <div class="card" style="background: lightgrey;">
          <div class="card-category"><%= boat.price %> €</div>
          <div class="card-description">
            <h2><%= boat.name %></h2>
            <p><%= boat.city %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
