<div id="footer" class="footer-moussaillon" >
  <div class="flex-mouss">
   <div class="hidden-xs hidden-sm">
     <a href="" class="padded-sides-sm footer-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
     <a href="" class="padded-sides-sm footer-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
     <a href="" class="padded-sides-sm footer-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
   </div>
   <div>
     <a href=# class="padded-sides-sm footer-link">Press</a>
     <a href=# class="padded-sides-sm footer-link">CGU</a>
     <a href=# class="padded-sides-sm footer-link">Confidentialité</a>
   </div>
  </div>

  <div class="copyright text-center">
   <p>Copyright © Moussaillon | bonjour@moussaillon.com</p>
  </div>

</div>
